<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
  <div class="mainbody">
    <nav>
        <div class="nav">
            <div class="logo">
                <img src="../static/logoss.png" alt="not found" style="height:60px;width:120px;" >
            </div>
            <div class="menu">
                <div class="inner">
                    <ul>
                        <li  id="li"> <a href="navbar.html">Home</a> </li>
                        <li  id="li"> <a href="#about">About Us</a></li>
                        <li  id="li"> <a href="#formcontent">Contact Us</a></li>
                    </ul>
                </div>
                <a href="javascript:void(0);" onclick="myFunction()"><div  id="li_menu"><img src="../static/menu.png" alt="Menu" style="height: 60px;width:60px;margin-right:20px;"></div></a>
                
               
            </div>
        </div>
    </nav>
               <!--      humburgermenu     -->
            
                <div id="inner2">
                    <!-- <ul>
                        <li  id="li">Home </li>
                        <li  id="li">About Us</li>
                        <li  id="li">Contact Us</li>
                    </ul> -->
                    <div class="menu-item"><a href="">Home</a></div>
                    <div class="menu-item"><a href="">About Us</a> </div>
                    <div class="menu-item"><a href="#formcontent">Contact Us</a></div>
                    
                </div>
            

    <!-- banner -->
    <div class="banner" >
    <div class="heading">
       <div>
        <h1 class="bannerh1">HII WELCOME TO MY WEBSITE</h1>
        <H2 class="bannerh2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, officiis.</H2>
       </div>
    </div>
    </div>
    

    <!-- about me section -->
    <div class="about" id="about">
      <h1 class="recenth1">About Us</h1>
        <div class="abt-main">
         <div class="bg-abt-text">
            <div class="abt-text">
               <span style="font-size:1.7em;">"</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla molestiae neque, praesentium itaque ipsa rerum non, accusantium sit ullam fuga quos molestias saepe eveniet atque eos ex. Ad, quisquam consequatur<span style="font-size: 1.7em; margin:0px;padding:0px;">"</span>
              </div>
           </div>
            <div class="abt-img">
              <img src="https://images.unsplash.com/photo-1583269332264-69514e25c8c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHlvdW5nJTIwYm95fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="" class="myimg">
            </div>
        </div>
    </div>

                  <!-- my recent work -->

    <div class="recentw">
        <h1 class="recenth1">My Recent Work</h1>
       <div class="recentmain">
         <div class="images">
            <div class="small"><img src="https://images.unsplash.com/photo-1532341556711-1c37110eaaac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8eW91bmclMjBib3l8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
            <div class="large"><img src="https://images.unsplash.com/photo-1536811145290-bc394643e51e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG90JTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
           
         </div>
         <div class="images">
            <div class="large"><img src="https://images.unsplash.com/photo-1522765312985-2a1e2bce9ad7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aG90JTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
            <div class="small"><img src="https://images.unsplash.com/photo-1630568667468-fe2a669d8861?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8aG90JTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
            
         </div>
         <div class="images ssmd">
           
            <div class="small"><img src="https://plus.unsplash.com/premium_photo-1669372451403-5a1bc2cbe31a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8aG90JTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
            <div class="large"><img src="https://images.unsplash.com/photo-1630568255484-af1bf760b445?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGhvdCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
            
         </div>
         <!-- <div class="images">
            
            <div class="large"><img src="https://images.unsplash.com/photo-1669257965650-937651e8a13c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGhvdCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
            <div class="small"><img src="https://images.unsplash.com/photo-1669258002024-8731bb8664e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGhvdCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
           
         </div>
         <div class="images">
            <div class="small">
                <img src="https://images.unsplash.com/photo-1630567804048-96a2ea2c2f83?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGhvdCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60" alt="" class="recentim">
            </div>
            <div class="large">
                <img src="https://images.unsplash.com/photo-1549445069-d1125f7a129c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw4OTgzOTI1fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=60" alt="" class="recentim"></div>
         </div> -->
       </div>
        
    </div>


                          <!-- card images         -->
        <h1 class="cardh1">My premium work</h1>
        <div class="card">
          
          <div class="card-item">
            <div class="cardl-image">
              <img src="https://images.unsplash.com/photo-1502613374390-8da7aa532177?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8aW1hZ2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="" class="cardimage">
            </div>
            <div class="card-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eius.
            </div>
          </div>
          <div class="card-item">
            <div class="cardl-image">
              <img src="https://images.unsplash.com/photo-1682655012898-28f5c96a4c50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&q=60" alt="" class="cardimage">
            </div>
            <div class="card-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eius.
            </div>
          </div>
          <div class="card-item">
            <div class="cardl-image">
              <img src="https://images.unsplash.com/photo-1526170375885-4d8ecf77b99f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZHVjdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60" alt="" class="cardimage">
            </div>
            <div class="card-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eius.
            </div>
          </div>
          <div class="card-item card-item4 ">
            <div class="cardl-image">
              <img src="https://images.unsplash.com/photo-1526170375885-4d8ecf77b99f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZHVjdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60" alt="" class="cardimage">
            </div>
            <div class="card-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, eius.
            </div>
          </div>
      
      
        </div>

                       <!-- form section for web app  -->
  
  <div class="formcontainer">
    <div class="formcontent" id="formcontent">
      <h1>Contact Us</h1>
    <form action="">
      <label for="first-name" class="labels">Full Name</label> <br>
      <input type="text" for="first-name" class="forminput"> <br>
      <label for="first-name" class="labels">Email</label> <br>
      <input type="text" for="first-name" class="forminput"> <br>
      <label for="first-name" class="labels">Phone</label> <br>
      <input type="text" for="first-name" class="forminput"> <br>
      <label for="first-name" class="labels">Address</label> <br>
      <input type="text" for="first-name" class="forminput">
      <br>
      <button class="submit">
        Submit
      </button>
    </form>
  </div>
  </div>


                  <!--          fooooter         -->

<div>
    <footer>
        <div class="footermain">

        </div>
    </footer>
</div>




 </div>


  <!-- <script>
  function myFunction() {
  var x = document.getElementById("inner2");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
  </script> -->
   <script>
    var y = document.getElementsById("banner");
    function myFunction() {
    var x = document.getElementById("inner2");
    
    if (x.style.display === "block") {
      x.style.display = "none";
      // y.style.marginTop = "75px";
    } else {
      x.style.display = "block";
      // y.style.marginTop = "0p";
    }
    
  }
    </script>
</body>
</html>