 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
  <div class="mainbody">
    <nav>
        <div class="nav">
            <div class="logo">
                <img src="https://images.unsplash.com/photo-1648205213977-075109f0b9e0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGhvdG9ncmFwaGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60" alt="not found" style="height: 60px;width:60px;" >
            </div>
            <div class="menu">
                <div class="inner">
                    <ul>
                        <li  id="li">Home </li>
                        <li  id="li">About Us</li>
                        <li  id="li">Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- banner -->
    <div class="banner">
    <div class="heading">
       <div>
        <h1 class="bannerh1">HII WELCOME TO MY WEBSITE</h1>
        <H2 class="bannerh2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, officiis.</H2>
       </div>
    </div>
    </div>
    

    <!-- about me section -->
    <div class="about">
        <div class="abt-main">
           <div class="bg-abt-text">
            <div class="abt-text">
               <span style="font-size:1.7em;">"</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla molestiae neque, praesentium itaque ipsa rerum non, accusantium sit ullam fuga quos molestias saepe eveniet atque eos ex. Ad, quisquam consequatur<span style="font-size: 1.7em; margin:0px;padding:0px;">"</span>
              </div>
           </div>
            <div class="abt-img">
              <img src="https://images.unsplash.com/photo-1583269332264-69514e25c8c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHlvdW5nJTIwYm95fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60" alt="" class="myimg">
            </div>
        </div>
    </div>

                  <!-- my recent work -->

    <div class="recentw">
        <h1 class="recenth1">My Recent Work</h1>
       <div class="recentmain">
         <div class="images">
            <div class="small"><img src="https://images.unsplash.com/photo-1532341556711-1c37110eaaac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8eW91bmclMjBib3l8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
            <div class="large"><img src="https://images.unsplash.com/photo-1536811145290-bc394643e51e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG90JTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
           
         </div>
         <div class="images">
            <div class="large"><img src="https://images.unsplash.com/photo-1522765312985-2a1e2bce9ad7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aG90JTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
            <div class="small"><img src="https://images.unsplash.com/photo-1630568667468-fe2a669d8861?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8aG90JTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
            
         </div>
         <div class="images ssmd">
           
            <div class="small"><img src="https://plus.unsplash.com/premium_photo-1669372451403-5a1bc2cbe31a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8aG90JTIwZ2lybHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
            <div class="large"><img src="https://images.unsplash.com/photo-1630568255484-af1bf760b445?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGhvdCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
            
         </div>
         <!-- <div class="images">
            
            <div class="large"><img src="https://images.unsplash.com/photo-1669257965650-937651e8a13c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGhvdCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
            <div class="small"><img src="https://images.unsplash.com/photo-1669258002024-8731bb8664e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGhvdCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60" alt="" class="recentim"></div>
           
         </div>
         <div class="images">
            <div class="small">
                <img src="https://images.unsplash.com/photo-1630567804048-96a2ea2c2f83?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGhvdCUyMGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60" alt="" class="recentim">
            </div>
            <div class="large">
                <img src="https://images.unsplash.com/photo-1549445069-d1125f7a129c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw4OTgzOTI1fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=60" alt="" class="recentim"></div>
         </div> -->
       </div>
        
    </div>



                  <!--          fooooter         -->

<div>
    <footer>
        <div class="footermain">

        </div>
    </footer>
</div>




 </div>
</body>
</html>